{%extends 'gallerylab/base.html'%}
{% load static %}
{% block content %} 
{{ block.super}}

  <div class="container my-4">
    <div class="row">
      <div class="imgContainer">
        {% for image in images %}
          <div class="">
            <img src="{{image.url}}" class="img-responsive myImg" alt="{{image.description}}" id="img{{image.id}}">
          </div>
        {% endfor %}
      </div>  
    </div>

    <div id="imageModal" class="modal">
      <span class="close">&times;</span>
      <img class="modal-content" id="img01">
      <div id="caption"></div>
      <div id="url"></div>
      <a onclick="copyFunction()"><button type="button"  class="btn btn-primary">Copy Link</button></a>
    </div>
  </div>
  {% block scripts %}
    <script src={% static 'js/main.js'%} defer></script>
  {% endblock %}

{% endblock %}