.sidenav {
    position: fixed;
    z-index: 2;
    top: 57px;
    left: 0px;
    background: #eee;
    overflow-x: hidden;
    overflow-y: scroll;
    padding: 8px 0;
    width: 16.7%;
    height: 100%;
  }
  
.sidenav a {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    color: #2196F3;
    display: block;
}

.sidenav a:hover {
    color: #064579;
}

/* .navbar{
    position: fixed;
    z-index: 1;
    top: 0px;
    left: 0px;
    right: 0px;
} */